.row-fluid
  .span12
    = bootstrap_breadcrumb link_to('Home', root_path), link_to('Projects', projects_path), 
      link_to(project.name, '#'), link_to("# #{issue.code} - #{issue.title}", '#')
    %p Bla bla esta issue bla bla