= form_for '/login', remote: true do |f|
  .row-fluid.margin-1em
    .span4
      %p Login
    .span4
      = f.text_field :login
  .row-fluid
    .span4
      %p Password
    .span4= f.password_field :password
  .row-fluid.margin-1em
    = f.submit 'Enviar', class: 'btn btn-primary'