/* Variables */
$btnBackgroundHighlight: #E6E6E6;

/* Espaciado */
.margin-1em {
  margin-top: 1em;
  margin-bottom: 1em;
}
.subindex {
  margin-bottom: -2em;
}
/* Texto */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* Colors */
ul.dropdown-menu a.active{
  background-color: $btnBackgroundHighlight;
}